<app-loading *ngIf="loading">
</app-loading>

<form class="form-location center" (ngSubmit)="getYelp(location.value); yelpForm.reset()" #yelpForm>
  <div class="input-group ">
    <label for="location" class="sr-only"></label>
    <input type="text" class="form-control" name="location" #location placeholder="Enter City or Zip Code..." aria-label="Enter City or Zip Code..."
      required>
    <span class="input-group-btn">
        <button class="btn btn-dark" type="submit" >Go!</button>
      </span>
  </div>
  <span class="text-white">Powered by: <img class="w-25" src="./../../assets/images/yelp_logo_tm/Yelp Logo Trademark/Screen/Yelp_trademark_RGB_outline.png" /></span>
</form>
