<div class="home-wrapper text-center text-white">
  <div class="home-header">
    <h1>Looking for an exciting time?</h1>
    <p>Find a local hotspot and share with your friends that you're going!</p>
  </div>
  <form class="form-location center">
    <div class="input-group ">
      <label for="location" class="sr-only"></label>
      <input type="text" class="form-control" name="location" placeholder="Enter City..." aria-label="Enter City...">
      <span class="input-group-btn">
        <button class="btn btn-dark" type="button">Go!</button>
      </span>
    </div>
  </form>
</div>
