/* You can add global styles to this file, and also import other style files */
.center {
  margin-left: auto;
  margin-right: auto;
}
.home-bgcolor {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
